{% extends 'base.html.twig' %}

{% block title %}Météo{% endblock %}

{% block body %}
    <h1>Météo</h1>
            <div class="carousel">
                {% for data in data %}
                    <div class="carousel-item">
                        <div class="card ">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ asset('picto/png/rainy.png') }}" alt="rainy" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    {% for station in stations %}
                                        {{ station[data.numerSta] }}
                                    {% endfor %}
                                    <i id="click_card" class="material-icons right">more_vert</i>
                                </span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">
                                     <i id="click_cardClose" class="material-icons right">close</i>
                                    <div><td>{{ data.numerSta }}</td></div>
                                    <div><td>{{ data.date }}</td></div>
                                    <div><td>{{ data.pmer }}</td></div>
                                    <div><td>{{ data.tend }}</td></div>
                                    <div><td>{{ data.codTend }}</td></div>
                                    <div><td>{{ data.dd }}</td></div>
                                    <div><td>{{ data.ff }}</td></div>
                                    <div><td>{{ data.t }}</td></div>
                                    <div><td>{{ data.td }}</td></div>
                                    <div><td>{{ data.u }}</td></div>
                                    <div><td>{{ data.vv }}</td></div>
                                    <div><td>{{ data.ww }}</td></div>
                                    <div><td>{{ data.w1 }}</td></div>
                                    <div><td>{{ data.w2 }}</td></div>
                                    <div><td>{{ data.n }}</td></div>
                                    <div><td>{{ data.nbas }}</td></div>
                                    <div><td>{{ data.hbas }}</td></div>
                                    <div><td>{{ data.cl }}</td></div>
                                    <div><td>{{ data.cm }}</td></div>
                                    <div><td>{{ data.ch }}</td></div>
                                    <div><td>{{ data.pres }}</td></div>
                                    <div><td>{{ data.nivBar }}</td></div>
                                    <div><td>{{ data.geop }}</td></div>
                                    <div><td>{{ data.tend24 }}</td></div>
                                    <div><td>{{ data.tminsol }}</td></div>
                                    <div><td>{{ data.sw }}</td></div>
                                    <div><td>{{ data.tw }}</td></div>
                                    <div><td>{{ data.raf10 }}</td></div>
                                    <div><td>{{ data.rafper }}</td></div>
                                    <div><td>{{ data.per }}</td></div>
                                    <div><td>{{ data.etatSol }}</td></div>
                                    <div><td>{{ data.htNeige }}</td></div>
                                    <div><td>{{ data.ssfrai }}</td></div>
                                    <div><td>{{ data.perssfrai }}</td></div>
                                    <div><td>{{ data.tn12 }}</td></div>
                                    <div><td>{{ data.tn24 }}</td></div>
                                    <div><td>{{ data.tx12 }}</td></div>
                                    <div><td>{{ data.tx24 }}</td></div>
                                    <div><td>{{ data.rr1 }}</td></div>
                                    <div><td>{{ data.rr3 }}</td></div>
                                    <div><td>{{ data.rr6 }}</td></div>
                                    <div><td>{{ data.rr12 }}</td></div>
                                    <div><td>{{ data.rr24 }}</td></div>
                                    <div><td>{{ data.phenspe1 }}</td></div>
                                    <div><td>{{ data.phenspe2 }}</td></div>
                                    <div><td>{{ data.phenspe3 }}</td></div>
                                    <div><td>{{ data.phenspe4 }}</td></div>
                                    <div><td>{{ data.nnuage1 }}</td></div>
                                    <div><td>{{ data.ctype1 }}</td></div>
                                    <div><td>{{ data.hnuage1 }}</td></div>
                                    <div><td>{{ data.nnuage2 }}</td></div>
                                    <div><td>{{ data.ctype2 }}</td></div>
                                    <div><td>{{ data.hnuage2 }}</td></div>
                                    <div><td>{{ data.nnuage3 }}</td></div>
                                    <div><td>{{ data.ctype3 }}</td></div>
                                    <div><td>{{ data.hnuage3 }}</td></div>
                                    <div><td>{{ data.nnuage4 }}</td></div>
                                    <div><td>{{ data.ctype4 }}</td></div>
                                    <div><td>{{ data.hnuage4 }}</td></div>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, );
            });
            document.getElementById("click_card").addEventListener("click", function(event){
                event.preventDefault()
            });
            document.getElementById("click_cardClose").addEventListener("click", function(event){
                event.preventDefault()
            });
        </script>
    {% endblock %}
{% endblock %}