{% extends 'base.html.twig' %}

{% block title %}Data{% endblock %}

{% block body %}
    <h1>Data</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ data.id }}</td>
            </tr>
            <tr>
                <th>NumerSta</th>
                <td>{{ data.numerSta }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ data.date }}</td>
            </tr>
            <tr>
                <th>Pmer</th>
                <td>{{ data.pmer }}</td>
            </tr>
            <tr>
                <th>Tend</th>
                <td>{{ data.tend }}</td>
            </tr>
            <tr>
                <th>CodTend</th>
                <td>{{ data.codTend }}</td>
            </tr>
            <tr>
                <th>Dd</th>
                <td>{{ data.dd }}</td>
            </tr>
            <tr>
                <th>Ff</th>
                <td>{{ data.ff }}</td>
            </tr>
            <tr>
                <th>T</th>
                <td>{{ data.t }}</td>
            </tr>
            <tr>
                <th>Td</th>
                <td>{{ data.td }}</td>
            </tr>
            <tr>
                <th>U</th>
                <td>{{ data.u }}</td>
            </tr>
            <tr>
                <th>Vv</th>
                <td>{{ data.vv }}</td>
            </tr>
            <tr>
                <th>Ww</th>
                <td>{{ data.ww }}</td>
            </tr>
            <tr>
                <th>W1</th>
                <td>{{ data.w1 }}</td>
            </tr>
            <tr>
                <th>W2</th>
                <td>{{ data.w2 }}</td>
            </tr>
            <tr>
                <th>N</th>
                <td>{{ data.n }}</td>
            </tr>
            <tr>
                <th>Nbas</th>
                <td>{{ data.nbas }}</td>
            </tr>
            <tr>
                <th>Hbas</th>
                <td>{{ data.hbas }}</td>
            </tr>
            <tr>
                <th>Cl</th>
                <td>{{ data.cl }}</td>
            </tr>
            <tr>
                <th>Cm</th>
                <td>{{ data.cm }}</td>
            </tr>
            <tr>
                <th>Ch</th>
                <td>{{ data.ch }}</td>
            </tr>
            <tr>
                <th>Pres</th>
                <td>{{ data.pres }}</td>
            </tr>
            <tr>
                <th>NivBar</th>
                <td>{{ data.nivBar }}</td>
            </tr>
            <tr>
                <th>Geop</th>
                <td>{{ data.geop }}</td>
            </tr>
            <tr>
                <th>Tend24</th>
                <td>{{ data.tend24 }}</td>
            </tr>
            <tr>
                <th>Tminsol</th>
                <td>{{ data.tminsol }}</td>
            </tr>
            <tr>
                <th>Sw</th>
                <td>{{ data.sw }}</td>
            </tr>
            <tr>
                <th>Tw</th>
                <td>{{ data.tw }}</td>
            </tr>
            <tr>
                <th>Raf10</th>
                <td>{{ data.raf10 }}</td>
            </tr>
            <tr>
                <th>Rafper</th>
                <td>{{ data.rafper }}</td>
            </tr>
            <tr>
                <th>Per</th>
                <td>{{ data.per }}</td>
            </tr>
            <tr>
                <th>EtatSol</th>
                <td>{{ data.etatSol }}</td>
            </tr>
            <tr>
                <th>HtNeige</th>
                <td>{{ data.htNeige }}</td>
            </tr>
            <tr>
                <th>Ssfrai</th>
                <td>{{ data.ssfrai }}</td>
            </tr>
            <tr>
                <th>Perssfrai</th>
                <td>{{ data.perssfrai }}</td>
            </tr>
            <tr>
                <th>Tn12</th>
                <td>{{ data.tn12 }}</td>
            </tr>
            <tr>
                <th>Tn24</th>
                <td>{{ data.tn24 }}</td>
            </tr>
            <tr>
                <th>Tx12</th>
                <td>{{ data.tx12 }}</td>
            </tr>
            <tr>
                <th>Tx24</th>
                <td>{{ data.tx24 }}</td>
            </tr>
            <tr>
                <th>Rr1</th>
                <td>{{ data.rr1 }}</td>
            </tr>
            <tr>
                <th>Rr3</th>
                <td>{{ data.rr3 }}</td>
            </tr>
            <tr>
                <th>Rr6</th>
                <td>{{ data.rr6 }}</td>
            </tr>
            <tr>
                <th>Rr12</th>
                <td>{{ data.rr12 }}</td>
            </tr>
            <tr>
                <th>Rr24</th>
                <td>{{ data.rr24 }}</td>
            </tr>
            <tr>
                <th>Phenspe1</th>
                <td>{{ data.phenspe1 }}</td>
            </tr>
            <tr>
                <th>Phenspe2</th>
                <td>{{ data.phenspe2 }}</td>
            </tr>
            <tr>
                <th>Phenspe3</th>
                <td>{{ data.phenspe3 }}</td>
            </tr>
            <tr>
                <th>Phenspe4</th>
                <td>{{ data.phenspe4 }}</td>
            </tr>
            <tr>
                <th>Nnuage1</th>
                <td>{{ data.nnuage1 }}</td>
            </tr>
            <tr>
                <th>Ctype1</th>
                <td>{{ data.ctype1 }}</td>
            </tr>
            <tr>
                <th>Hnuage1</th>
                <td>{{ data.hnuage1 }}</td>
            </tr>
            <tr>
                <th>Nnuage2</th>
                <td>{{ data.nnuage2 }}</td>
            </tr>
            <tr>
                <th>Ctype2</th>
                <td>{{ data.ctype2 }}</td>
            </tr>
            <tr>
                <th>Hnuage2</th>
                <td>{{ data.hnuage2 }}</td>
            </tr>
            <tr>
                <th>Nnuage3</th>
                <td>{{ data.nnuage3 }}</td>
            </tr>
            <tr>
                <th>Ctype3</th>
                <td>{{ data.ctype3 }}</td>
            </tr>
            <tr>
                <th>Hnuage3</th>
                <td>{{ data.hnuage3 }}</td>
            </tr>
            <tr>
                <th>Nnuage4</th>
                <td>{{ data.nnuage4 }}</td>
            </tr>
            <tr>
                <th>Ctype4</th>
                <td>{{ data.ctype4 }}</td>
            </tr>
            <tr>
                <th>Hnuage4</th>
                <td>{{ data.hnuage4 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('data_index') }}">back to list</a>

    <a href="{{ path('data_edit', {'id': data.id}) }}">edit</a>

    {{ include('data/_delete_form.html.twig') }}
{% endblock %}