
body{
    background-image: url('../img/sky2.jpeg');
    background-size: cover;
}
h1{
    text-align: center;
    font-style: italic;
    color: navajowhite;
}
img{
     font-size: 40px;
 }
.card{
    background-color: navajowhite !important;
}
.card .card-title{
    font-size: 18px !important;
}
.card .card-reveal .card-title {
    font-size: 12px;
}
.card .card-reveal{
    background-color: navajowhite !important;
}